#responsive{
    width: 90%;
        margin:auto;
            background-color: black;
                border: 1px solid red;
                    max-width: 420px;
}
header{
    width: 100%;
        background-color: blue;
            height: 100px;
}
nav{
    width: 100%;
        background-color:purple;
            height: 50px;
                display: relative
}
#container{
    height:500px;
        background-color:white;
            width: 100%;
                display:flex;

}
footer{
    width: 100%;
        background-color: aqua;
            height: 100px;
}
#sidebar{
    display:none;
        background-color: blueviolet;
            height: 100%;
                width: 20%;
}
#inner-container{
    background-color: grey;
        height:100%;
            width: 80%;
}
#hamburger{
    height: 45px;
        width: 50px;
            background-color: magenta;
}
@media only screen and (min-width: 421px) {
    body {
        background-color: orange;
    }
  }
  @media only screen and (min-width: 724px) {
    body {
        background-color: green;
    }
}