#responsive {
  width: 90%;
  margin: auto;
  background-color: black;
  border: 1px solid red;
  max-width: 420px;
}
header {
  width: 100%;
  background-color: blue;
  height: 100px;
}
nav {
  width: 100%;
  background-color: purple;
  height: 50px;
  position: relative;
}
#container {
  height: 500px;
  background-color: white;
  width: 100%;
  display: flex;
}
footer {
  width: 100%;
  background-color: aqua;
  height: 100px;
}
#sidebar {
  display: none;
  background-color: blueviolet;
  height: 100%;
  width: 20%;
}
#inner-container {
  background-color: grey;
  height: 100%;
}
#hamburger {
  height: 45px;
  width: 50px;
  background-color: magenta;
}
/* #menuitems {
  display: none;
  width: 20%;
  height: 100%;
  flex-flow: row-reverse wrap;
  justify-content: flex-end;
} */
#main{
    background-color: chartreuse;
    width: 100%;
    text-align:center;
 }
 /* nav stuff from week 7 */
 ul#menuitems {
     list-style-type: none;
     display: none;
     position: absolute;
     top: 39px;
     left: 2px;
     flex-direction: column;
 }
 ul#menuitems button{
    width: 100%;
    background-color: red;
    display: inline-block;
 }
 
 #hamburger {
     width: 40px;
     height: 40px;
     background-color: purple;
     border: 1px solid black;
     border-radius: 10px;
     margin: 10px 0 0 5px;
     box-shadow: 1px 4px grey;
 
 }
 #hamburger > div{
     width: 35px;
     height: 5px;
     background-color: black;
     margin: 6px auto;
 }
 
 ul#menuitems {
     background-color: azure;
     width: 100px;
     padding: 0;
 }
 
 ul#sidebaritems{
     list-style-type: none;
     padding: 0;
 
 }
 #sidebar{
     background-color: orange;
     display: inline;
     height: 100%;
     width: 30%;
 }
 .button {
     width: 105px;
 }
 @media only screen and (min-width: 421px){
    body{
        background-color:indigo;
    }

    #sidebar{
        background-color: blueviolet;
        display: inline;
        height: 100%;
        width: 20%;
    }

    #inner-container{
        background-color: chartreuse;
        height: 100%;
        width: 80%;
    }

}
/*
END OF TABLET VERSION
*/

/*
START OF LAPTOP VERSION
*/

@media only screen and (min-width: 724px){
    body{
        background-color:black;
    }
}
